body {
    background-color: rgb(30, 32, 29);
    /* background-color: rgb(233, 239, 230); */
}

.tetris-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid;
    border-top: none;
    border-color: rgba(233, 239, 230, 0.8);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.9px;
}

.grid div {
    height: 30px;
    width: 30px;
}

.grid div:not(.taken, .tetromino) {
    box-sizing: border-box;
    border: 1px solid rgba(233, 239, 230, 0.05);
    border-radius: 7px;
}

.grid div:nth-child(-n+10) {
    border-top: none;
}

h1, h3 {
    font-family: 'Tetris', sans-serif;
    color: rgb(233, 239, 230);
}

h1 {
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 20px;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 37px;
    border: 6px solid;
    border-top: none;
    border-color: rgba(88, 107, 164, 0.8);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#start-button {
    font-size: 25px;
    font-family: 'Tetris', sans-serif;
    color: rgb(233, 239, 230);
    background-color: rgb(30, 32, 29);
    border: transparent;
    margin-bottom: 40px;
    margin-top: 0;
    border-radius: 6px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#start-button:hover {
    background-color: rgb(88, 107, 164);
    color: rgb(30, 32, 29);
    transition: 0.1s;
    cursor: pointer;
}

.tetromino {
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid rgba(233, 239, 230, 0.7);
    box-shadow: 10px;
}

.mini-grid {
    margin-left: 50px;
    width: 180px;
    height: 210px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(30, 32, 29);
    border: 6px solid;
    border-bottom: none;
    border-color: rgb(88, 107, 164, 0.8);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.mini-grid div {
    height: 30px;
    width: 30px;
}